@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-palette-body-bg: #EDF2FB;
    --color-palette-mid-dark-purple: #7b2cbf;
    --color-dark-purple: #112A46;
    --color-light-purple: #e5d2f5;
    --animate-circle1: circle1 2s ease-in-out infinite;
    --animate-circle2: circle2 2s ease-in-out infinite;
    --animate-circle3: circle3 2s ease-in-out infinite;
    --animate-circle4: circle4 2s ease-in-out infinite;
    --animate-text-appear-from-left: text-appear-from-left 1s ease-in;
    --animate-text-appear-from-right: text-appear-from-right 1s ease-in;
    @keyframes circle1 {
      32% {
        transform: scale(1.4);
        background-color: #000000;
        margin: 0px 10px 0px 10px;
      }
    }
    @keyframes circle2 {
      44% {
        transform: scale(1.4);
        background-color: #000000;
        margin: 0px 10px 0px 10px;
      }
    }
    @keyframes circle3 {
      56% {
        transform: scale(1.4);
        background-color: #000000;
        margin: 0px 10px 0px 10px;
      }
    }
    @keyframes circle4 {
      68% {
        transform: scale(1.4);
        background-color: #000000;
        margin: 0px 10px 0px 10px;
      }
    }
    @keyframes text-appear-from-left {
      0% {
        opacity: 0%;
        transform: translateX(-40px);
      }
      100% {
        opacity: 100%;
        transform: translateX(0px);
      }
    }
    @keyframes text-appear-from-right {
      0% {
        opacity: 0%;
        transform: translateX(40px);
      }
      100% {
        opacity: 100%;
        transform: translateX(0px);
      }
    }
}

@layer base{
  body {
      @apply bg-palette-body-bg;
    }
}

  .montserrat-thin {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }
  
  .montserrat-extralight {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }

  .montserrat-light {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  
  .montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }  

@layer components {
    
    .card {
        @apply flex flex-col justify-center p-6 rounded-2xl w-[25%] mx-5 border-1 border-gray-400 hover:bg-light-purple hover:border-palette-mid-dark-purple hover:text-dark-purple hover:shadow-2xl hover:scale-105 transition-all duration-100 ease-in-out;
    }

    .left {
        @apply w-[50%] text-right py-[2%] pr-[2%] hover:-translate-x-[10%] hover:scale-120 transition-all duration-100 ease-in-out;
    }

    .right {
        @apply w-[50%] text-left py-[2%] pl-[2%] hover:translate-x-[10%] hover:scale-120 transition-all duration-100 ease-in-out;
    }
    
  }
  