@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
    --color-web-background: #FBFFE4;
    --color-intro-card: #B3D8A8;
    --color-intro-card-border: #A3D1C6;
    --color-palette-skin: #FFC09F;
    --color-palette-yellow: #FFEE93;
    --color-palette-light-yellow: #FCF5C7;
    --color-palette-blue: #A0CED9;
    --color-palette-green: #ADF7B6; 
    --color-theme-text: #3D8D7A;
    --font-montserrat: 'Montserrat', sans-serif;
    --color-subtitle: #184E77;
}
@layer base{
    body {
        @apply bg-palette-light-yellow p-8;
    }
}

@layer components {
    .blue-card {
      @apply p-6 rounded-2xl border-solid border-3 bg-palette-blue shadow-lg shadow-gray-300 hover:shadow-gray-500;
    }

    .green-card {
        @apply p-6 rounded-2xl border-solid border-3 bg-palette-green shadow-lg shadow-gray-300 hover:shadow-gray-500;
      }
  }
  