@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-palette-body-bg: #EDF2FB;
    --color-palette-mid-dark-purple: #7b2cbf;
    --color-dark-purple: #112A46;
    --color-light-purple: #e5d2f5;
}

@layer base{
  body {
      @apply bg-palette-body-bg;
    }
}

  .montserrat-thin {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }
  
  .montserrat-extralight {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }

  .montserrat-light {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  
  .montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }  

@layer components {
    .card {
        @apply flex flex-col justify-center p-6 rounded-2xl w-[25%] mx-5 border-1 hover:bg-light-purple hover:border-palette-mid-dark-purple hover:text-dark-purple hover:shadow-2xl hover:scale-105 transition-transform duration-100 ease-in-out;
    }
  }
  